/* -- Contact css
-------------------------------------- -- */

.contact {
    padding-top: 19.6rem;
    overflow: hidden;
    .grey-bg {
        position: relative;
        z-index: 1;
        .shape-contact {
            position: absolute;
            top: -60%;
            left: -10%;
            z-index: -1;
            opacity: .1;
        }
        .shape-contact-2 {
            position: absolute;
            top: 20%;
            right: -10%;
            z-index: -1;
            opacity: .1;
        }
    }
}

.contact-wrapper {
    background: #fff;
    @include border-radius(10px);
    @include box-shadow(0, 0, 20px, rgba(0, 0, 0, 0.05));
    padding: 5rem 6rem 6rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &.common-contact-wrapper {
        margin-top: -13rem;
        margin-bottom: 8rem;
        &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 120%;
            height: 120%;
            background: #f8fcff;
            display: block;
            transform: translate(50%, 50%);
            @include border-radius(50%);
            z-index: -1;
        }
    }
    &.contact-page-form-wrapper {
        transform: translateX(75px);
        margin-bottom: 3rem;
        margin-top: 1.5rem;
    }
    h3 {
        margin-bottom: 3.2rem;
        color: $typo-color-a;
    }
}

.form-wrapper {
    position: relative;
    right: 0;
    transition: all .3s ease-in-out;
}

.contact-form {
    input,
    textarea {
        margin-bottom: 3rem;
        background: #fff;
    }
    textarea {
        min-height: 18rem;
    }
    .btn-wrapper {
        width: 100%;
        padding: 0 1.5rem;
        margin-top: 1rem;
    }
}

.view-map-btn {
    display: inline-block;
    position: absolute;
    right: 26px;
    bottom: 60px;
    font-family: $secondary-font;
    font-size: 1.6rem;
    line-height: 6.2rem;
    color: $typo-color-c;
    font-weight: 500;
    margin-left: auto;
    @include border-radius(50px);
    background: transparent;
    padding: 0 3rem;
    text-decoration: none;
    z-index: 99;
    transition: all .3s;
    i {
        font-size: 3rem;
        margin-left: 6px;
        position: relative;
        top: 8px;
        transition: all .3s;
    }
    &:hover {
        text-decoration: none;
        color: $typo-color-c;
    }
}

.contact-info {
    h3 {
        margin-bottom: 2.4rem;
    }
    &.floating-contact-info {
        background: #fff;
        border: 2px solid #f1f0ff;
        border-radius: 10px;
        padding: 4rem 3rem 4rem 16.5rem;
        margin-bottom: 3.7rem;
        transform: translateX(-75px);
        .social-icons a {
            background: #f1efff;
            color: $theme-color-e;
            &:hover {
                color: #fff;
            }
        }
    }
}

.social-icons-wrapper {
    p {
        margin-bottom: 13px;
    }
}

.social-icons {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
    li {
        margin-bottom: 1.4rem;
        display: inline-block;
        margin-right: 1rem;
        &:hover a {
            color: #fff;
        }
        &:nth-of-type(1) {
            a:hover {
                background-color: #0057ff;
            }
        }
        &:nth-of-type(2) {
            a:hover {
                background-color: #1da1f2;
            }
        }
        &:nth-of-type(3) {
            a:hover {
                background-color: #dd4b39;
            }
        }
        &:nth-of-type(4) {
            a:hover {
                background-color: #ea4c89;
            }
        }
        &:nth-of-type(5) {
            a:hover {
                background-color: #ff0000;
            }
        }
    }
    a {
        text-decoration: none;
        font-size: 1.6rem;
        line-height: 3rem;
        color: $typo-color-a;
        width: 3rem;
        height: 3rem;
        display: block;
        background: $typo-color-d;
        text-align: center;
        @include border-radius(5px);
        transition: all .5s;
    }
}

.address {
    a,
    span {
        display: block;
        font-family: $secondary-font;
        font-size: 2.4rem;
        line-height: 3.4rem;
        font-weight: 900;
        color: $theme-color-f;
        text-decoration: none;
        transition: all .5s;
    }
    a:hover {
        color: #ff7cb0;
    }
}

.map-wrapper {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: all .3s ease-in-out;
    iframe {
        width: 100%;
        height: 100%;
    }
}

.show-map {
    .form-wrapper {
        right: 100%;
    }
    .map-wrapper {
        left: 0;
    }
    .view-map-btn {
        background: #fff;
        border-color: transparent !important;
        i {
            margin-right: 6px;
            margin-left: 0;
        }
    }
}

.err-msg,
.success-msg {
    font-size: 1.3rem;
    line-height: 1.5;
    color: #dd4b39;
    position: absolute;
    bottom: 6px;
    left: 15px;
}

.success-msg {
    color: rgb(81, 151, 24);
    bottom: 4px;
}

.whats-next-wrapper {
    padding: 1.3rem 0 3.9rem 2rem;
    p {
        margin-bottom: 1rem;
        position: relative;
        i {
            position: absolute;
            top: 0;
            left: -2rem;
            font-size: 1.1rem;
            line-height: 3rem;
        }
    }
}

.location-tab-nav {
    background: transparent;
    box-shadow: none;
    padding-top: 0;
    li {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 50px rgba(166, 209, 237, 0.2);
        margin: 0 15px;
        padding: 4rem 0 0;
        a {
            &::after {
                display: none;
            }
        }
    }
}

.location-tab-content {
    .tab-pane {
        padding: 0 75px;
        .map-wrapper {
            position: static;
            height: 400px;
            border-radius: 10px;
            overflow: hidden;
            iframe {
                border: none;
            }
        }
    }
}

.shape-work-places{
    top: 0;
    right: -20%;
}