/* -- Newsletter css
-------------------------------------- -- */

.newsletter {
    padding: 5.5rem 0 10rem;
}

.newsletter-form {
    max-width: 95rem;
    margin: 0 auto;
    padding-top: 3.2rem;
    input,
    .custom-btn {
        margin-bottom: 3rem;
    }
}